basisProgameren/Variables02.java
basisProgameren/Variables03.java
chickens01/Chickens01.java
input03/Input03.java
module-info.java
com/example/AgeValidity.java
Delen/ChkOddEven.java
ShoppingCart/java/ShoppingCart.java
StringEquality/StringEquality.java
Agecheck/AgeCheck.java
